<!DOCTYPE html>
<html lang="de-DE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>KiSiWo | Musische Freizeit für Kinder von 9 - 15 Jahren</title>
</head>

<body>
  <header class="entry-header">
    <h1 class="entry-header">WILLKOMMEN</h1>
  </header>
  <div class="entry-content">
  <img src={~p"/images/kisiwo_2024_titelbild1.jpg"} alt="Titelbild KiSiWo 2024">
  </div>

  <p style="text-align: left">
    <strong>
    <span style="font-family: Kisiwo;">Liebe Kinder</span>
    </strong>
    !
  </p>

  <p style="text-align: left;">
    <span style="font-family: Palatino; font-size: 12pt;">
      Herzlich willkommen auf der Seite der KiSiWo. Hier findet Ihr alle möglichen Informationen über die 42. KiSiWo vom 04. - 10. August 2024, über die Betreuer, Bilder von den alten KiSiWo und vieles, vieles mehr. 
    </span>
  </p>

  <blockquote>
    <a href="/users/new">Hier geht es zur Online Anmeldung</a>

  </blockquote>

</body>
</html>